@import url(https://fonts.googleapis.com/css?family=Open+Sans);
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

h1 {
	font-family: cursive;
	color: rgb(238, 10, 10);
}

body {
	background-image: url(Image.jpeg);
	height: 100vh;
	background-size: cover;
	background-position: center;
}

.login { 
	position: absolute;
	top: 30%;
	left: 40%;
	margin: -150px 0 0 -150px;
	width:400px;
	height:400px;
}

input {
	display: block;
	padding: 10px;
	margin-top: 10px;
	font-size: 2em;
	color: rgb(231, 228, 228);
	font-family: cursive;
	text-align:center
}

button {
	padding: 10px;
	top: 50%;
	font-size: 1.2em;
	color: rgb(12, 12, 12);
	text-align: center;
	font-family: cursive;
}